manifest {
  description = 'Process RNA sequencing data.' 
}

 
profiles {

    awsbatch {
        // aws.region = 'us-west-2'
        // aws.client.storageEncryption = 'AES256'
        executor.name = 'awsbatch'
        executor.awscli = '/app/bin/aws'
        process {
            container = 'quay.io/afioregartland/rnaseq_prep'
            queue = 'mixed'
            errorStrategy = 'retry' 
            maxRetries = 2 
            $index.cpus = 4 
            $fastqc.cpus = 2
            $quant.cpus = 8
            $index.memory = '8 GB'
            $quant.memory = '6 GB' 
            $fastqc.memory = '6 GB'
            $multiqc.memory = '1 GB'
        }
    }
    
    local {
        executor = 'local'
        process {
            $index.cpus = 1 
            $pre_fastqc.cpus = 1
            $post_fastqc.cpus = 1
            $trim.cpus = 1
        }
    }

} 
