manifest {
  description = 'Process RNA sequencing data.' 
}

 
profiles {

    awsbatch {
        // aws.region = 'us-west-2'
        // aws.client.storageEncryption = 'AES256'
        executor = 'awsbatch'
        //executor.awscli = '/app/bin/aws'
        process {
            executor = 'awsbatch'
            container = 'quay.io/afioregartland/rnaseq_prep'
            queue = 'mixed'
            errorStrategy = 'retry' 
            maxRetries = 2 
            $qc_and_trim.cpus = 4
            $qc_and_trim.memory = '8 GB'
        }
    }
    
    local {
        executor = 'local'
        process {
            $index.cpus = 1 
            $pre_fastqc.cpus = 1
            $post_fastqc.cpus = 1
            $trim.cpus = 1
            $quant.cpus = 2
        }
    }

} 
