manifest {
  description = 'Process RNA sequencing data.' 
}

profiles {

    awscloud {

        process {
            executor = 'awsbatch'
            // container = 'quay.io/afioregartland/rnaseq_prep'
            container = 'job-definition://nf-quay-io-afioregartland-rnaseq_prep:2'
            queue = 'mixed'
            errorStrategy = 'retry' 
            maxRetries = 2 

            withLabel: multicore {
                cpus = 8
                memory = 50.GB
            }

            withLabel: singlecore {
                cpus = 1
                memory = 8.GB   
            }
        }
    }
    
    local {
        
        process {
            executor = 'local'

            withLabel: multicore {
                cpus = 2
                memory = 1.GB
            }
            withLabel: singlecore {
                cpus = 1
                memory = 1.GB
            }
        }
    }

} 
