manifest {
  description = 'Process RNA sequencing data.' 
}

/*aws {
    accessKey = 'BLANK'
    secretKey = 'BLANK'
    region = 'us-west-2'
}*/

profiles {

    awscloud {

        process {
            executor = 'awsbatch'
            // container = 'quay.io/afioregartland/rnaseq_prep'
            container = 'job-definition://nf-quay-io-afioregartland-rnaseq_prep:2'
            queue = 'mixed'
            errorStrategy = 'retry' 
            maxRetries = 2 

            withLabel: multicore {
                cpus = 8
                memory = 3.GB
            }
            withLabel: singlecore {
                cpus = 1
                memory = 16.GB   
            }
        }
    }
    
    local {
        
        process {
            executor = 'local'

            withLabel: multicore {
                cpus = 2
                memory = 3.GB
            }
            withLabel: singlecore {
                cpus = 1
                memory = 3.GB
            }
        }
    }

} 
